<div class="ov">
    <div class="win" role="dialog" aria-label="Options">
        <div class="top">
            <div class="title">Options</div>
            <button class="x" type="button" data-close>✕</button>
        </div>

        <div class="grid">
            <div class="box">
                <div class="box-title">Thumbnail</div>
                <button class="btn" type="button" data-action="thumb_clipboard">Clipboard</button>
                <button class="btn" type="button" data-action="thumb_viewer">Viewer</button>
                <button class="btn" type="button" data-action="thumb_png">PNG download</button>
            </div>

            <div class="box">
                <div class="box-title">Hashtag</div>
                <button class="btn" type="button" data-action="hashtag_finder">Finder</button>
            </div>

            <div class="box">
                <div class="box-title">Video</div>
                <button class="btn" type="button" data-action="videodl">Video DL</button>
            </div>

            <div class="box">
                <div class="box-title">Tools</div>
                <button class="btn" type="button" data-action="socialblade">Social blade</button>
            </div>
        </div>
    </div>
</div>
